<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Cell Towers</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAthtf2f_LHotgfIQuMTsfu8jZWOmzQPyg" async></script>
</head>
<body>
<div id="banner"></div>
<div id="map"></div>
</body>
</html>
